.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
   
    background-size: cover;
  }

  .event-content{
  display: flex;
  justify-content: center;
      margin-top: 30px;
    
  }

 