<div class="event-content">

  <mat-card class="upperEcho">
    <img class="eventImg" [src]="('data:image/jpg;base64,' + this.event.image)">
    <div class="eventDescription">
      <h1>{{this.event.name}} </h1>
      <p>{{this.event.description}}</p>
    </div>
   <div class="button-group"> 
    <button class="button-join" mat-raised-button color='primary'(click)="joinOrLeave()">{{ joinable == true ? 'Leave Event' : 'Join Event' }}</button>
  </div>
    </mat-card>

    <div class="lowerecho">
        <h3 class="peopleAmount"> {{this.event.users.length}} / {{this.event.numberOfPeople}}</h3>
  <mat-card class="volunteerboard">
 
    <mat-card class="movie-card" *ngFor="let user of this.event.users">
      <p> {{user.firstName}}&nbsp;{{user.lastName}}</p>
    </mat-card>
    <!-- <button mat-raised-button color='primary'  (click)="ngShowInfo()">Join</button> -->

  </mat-card>
</div>
</div>