
.movie-card{
    background-color:#616161;
    width: auto;
    margin: 5px !important;
}
.volunteerBoard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

mat-card{
    width: 70px;
    margin: 10px;
 
}

.eventImg{
    width: 300px;
    object-fit: contain;
}
.button-group{
    width: 100px;
    margin-top: 250px;
}
.button-join{
    width: 120px;
}

.eventDescription{
    margin-left: 30px;
    width: 570px;
}

.upperEcho{
    justify-content: center;
    padding: 35px;
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.volunteerboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: calc(100% - 32px);
    border-radius: 0 4px 4px 4px;
}

.lowerecho{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 970px;
    margin: 0 auto;
}

.peopleAmount{
    margin-bottom: 0;
    padding: 14px 28px;
    background-color: #424242;
    border-radius: 4px 4px 0 0;
}

