<div class="home-content">

    <mat-card class="movie-card" *ngFor="let event of events">

        <div>
            <mat-card-title>Evenement : {{event.name}} </mat-card-title>
            <mat-card-subtitle>Made possible by: {{event.company.name}} </mat-card-subtitle>


        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">

        <mat-card-content>
            <p>
                  Needed people :  {{event.totalAmountOfPeople}}  </p>
                  <p> Current People : {{event.users.length}}</p>
        </mat-card-content>

        <mat-card-actions color="primary">
            <button mat-raised-button color="primary">Info</button>
        </mat-card-actions>


    </mat-card>
</div>
