<div class="home-content">

    <mat-card class="movie-card" *ngFor="let event of events">

        <div>
            <mat-card-title>Evenement : {{event.name}} </mat-card-title>
            <mat-card-subtitle>Made possible by: {{event.company.name}} </mat-card-subtitle>
        </div>

        <img mat-card-image [src]="('data:image/jpg;base64,' + event.image)">
            
  <div class="peopleInfo">
         <p style="margin-right: 85px;margin-left: 20px;">Needed people : {{event.totalAmountOfPeople}} </p>
            <p> Current People : {{event.users.length}}</p>
        </div>

        <mat-card-actions color="primary" style="justify-content: center;display: flex;">
            <button mat-raised-button [routerLink]="['/eventinfo', event.id]" color="primary">Info</button>
        </mat-card-actions>


    </mat-card>
</div>