

<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>

        <mat-card class="movie-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <div class="EventInfo">
            
                    <mat-card-title>Evenement : SHACO</mat-card-title>
                    <mat-card-subtitle>Made possible by: LoL</mat-card-subtitle>
           
            </div>

            <div class="total-amount">
                    <p> 8 / 10 people </p>
            </div>

            <div class="info-button">
                    <mat-card-actions color="primary" style="display:flex">
                            <button mat-raised-button color="primary" style="margin-left: auto">Info</button>
                        </mat-card-actions>
            </div>

        </mat-card>
    </mat-grid-tile>
</mat-grid-list>