<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name="hibernate.connection.url">
            jdbc:mysql://volunteerfind.cmawsiukjkwq.us-east-2.rds.amazonaws.com/innodb?useSSL=false
        </property>

        <property name="hibernate.connection.username">
            admin
        </property>
        <property name="hibernate.connection.password">
            administrator
        </property>


        <mapping resource="User.hbm.xml" />
        <mapping resource="Company.hbm.xml"/>
        <mapping resource="Event.hbm.xml"/>
        <mapping class="model.User"/>
        <mapping class="model.Company"/>
        <mapping class="model.Event"/>


    </session-factory>
</hibernate-configuration>